@keyframes anim_hide_smooth {
	from { 
		height:  48px;
		font-size: 1em;
		opacity: 1;
	}
	to {
		height: 0px;
		font-size: 0.5em;
		padding: 0px;
		opacity: 0;
		margin: 0px;
	}
}

.anim1 {
	animation-name: anim_hide_smooth;
	animation-delay: 3s;
	animation-duration: 1s;
}

/*.dropdown__1 {
	max-height: 490px; 
	overflow: hidden; 
	min-height: 14px; 
	position: absolute; 
	transform: translate3d(0px, 37px, 0px); 
	top: 0px; 
	left: 0px; 
	will-change: transform;
}*/

.ul__1 {
	max-height: 230px; 
	overflow-y: auto; 
	min-height: 0px;
}

