@keyframes anim_hide_smooth {
	from { 
		height:  48px;
		font-size: 1em;
		opacity: 1;
	}
	to {
		height: 0px;
		font-size: 0.5em;
		padding: 0px;
		opacity: 0;
		margin: 0px;
	}
}

.anim1 {
	animation-name: anim_hide_smooth;
	animation-delay: 3s;
	animation-duration: 1s;
}

.header-sortable {
	cursor: pointer;
}

.clickable {
	cursor: pointer;	
}

.clickable:hover {
	outline: 2px solid white;
}

@media screen and (min-width: 1660px) {
	.w1 {
		width: 300px !important;
	}
	.w2 {
		width: 300px !important;
	}

	.w3 {
		width: 130px !important;
	}

	.w4 {
		width: 300px !important;
	}

	.w5 {
		width: 80px !important;
	}
	
}

@media screen and (max-width: 1659px) and (min-width: 1360px) {

	.w1 {
		width: 200px !important;
	}

	.w2 {
		width: 200px !important;
	}

	.w3 {
		width: 130px !important;
	}

	.w4 {
		width: 200px !important;
	}

	.w5 {
		width: 80px !important;
	}
}

@media screen and (max-width: 1359px) and (min-width: 1250px) {

	.w1 {
		width: 200px !important;
	}

	.w2 {
		width: 200px !important;
	}

	.w3_hide {
		display:none !important;
	}

	.w4 {
		width: 200px !important;
	}

	.w5 {
		width: 80px !important;
	}
}

@media screen and (max-width: 1249px) and (min-width: 665px) {

	.w1 {
		width: 200px !important;
	}

	.w2_hide {
		display:none !important;
	}

	.w3_hide {
		display:none !important;
	}

	.w4 {
		width: 200px !important;
	}

	.w5 {
		width: 80px !important;
	}
}

@media screen and (max-width: 664px) and (min-width: 0px) {

	.w1 {
		width: 200px !important;
	}

	.w2_hide {
		display:none !important;
	}

	.w3_hide {
		display:none !important;
	}

	.w4_hide {
		display:none !important;
	}

	.w5 {
		width: 80px !important;
	}
}



